@section-height: 100vh;
@section-width: 100%;
@container-width: calculate(@section-width - @medium-screen-side);
@nav-width: 60%;
@detail-header-element-bottom-margin: 10px;
@detail-header-date-top-margin: 20px;

.detail-header-container {
  //put in a more general portfolio styling file

  .navigation-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /*height: @nav-height;
    background-color: white;
    box-shadow: 0 0 2px 0 #cccccc;*/

    z-index: 100;

    .navigation {
      z-index: 101;
    }
  }

  .header-image {
    width: 100%;
    height: 100%;
    margin-top: @nav-height;
    margin-bottom: @detail-header-element-bottom-margin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;

    .image-image {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    .header-tags, .detail-header-date {
      font-size: @font-size-8;
    }

    .header-tags {
      margin-bottom: @detail-header-element-bottom-margin;

      .separator {
        color: #f38018;
      }
    }

    .detail-header-title {
      font-size: @font-size-1-1;
      //max-width: 80%;
      //letter-spacing: -3px;
    }

    .detail-header-description {
      font-size: @font-size-6;
      font-weight: @light-font-weight;
      //max-width: 70%;
    }

    .detail-header-date {
      margin-top: @detail-header-date-top-margin;
    }
  }
}

@media @small-device {
  .detail-header-container {
    .text-container {
      .detail-header-title {
        font-size: @font-size-3;
      }
    }
  }
}