@image-container-width: 30%;
@content-container-width: 60%;
@medium-content-container-height: 50vh;
@small-content-container-height: 60vh;
@small-image-container-height: 30vh;
@small-content-element-padding: 7px;
@medium-content-element-padding: 10px;

.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.section-content-wrapper {
  display: flex;
  align-items: center;
  margin: auto 0;

  .content-container, .image-container {
    display: inline-block;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: @content-container-width;
    height: @medium-content-container-height;

    .section-title {
      font-size: @font-size-1-1-1;
      font-weight: @extra-bold-font-weight;
      line-height: 100%;
      letter-spacing: -2px;
    }

    .section-description {
      font-size: @font-size-3;
      font-weight: @light-font-weight;
      //line-height: 200%;
      line-height: 150%; //to prevent vertically overflowing content
      overflow-y: auto;
      max-height: 30%;
    }
    

    .section-date, .section-link, .section-more {
      font-size: @font-size-4;
      font-weight: @bold-font-weight;
    }

    .section-date {
      .section-year {
        font-weight: @light-font-weight;
      }
    }

    .section-links {
      display: flex;

      .section-more {
        margin-right: 30px;
      }
    }

    .section-title, .section-description, .section-date, .section-links {
      padding: @medium-content-element-padding 0;
    }

    .section-date, .header-tags {
      padding: @small-content-element-padding 0;
    }
  }

  .image-container {
    width: @image-container-width;
    height: 50vh;
   // float: right;
    .section-image {
      width: 85%;
      height: 100%;
      margin-left: 35%;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media @large-device {
  .section-content-wrapper {
    .content-container {
      .section-title {
        font-size: @font-size-1;
      }
    }
  }
}

@media @small-device {
  .section-content-wrapper {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-around;

    .content-container {
      width: auto;
      height: auto;
      max-height: @small-content-container-height;
      padding: 0 @small-screen-side;

      .section-title {
        font-size: @font-size-2-1;
      }

      .section-description {
        font-size: @font-size-5;
        line-height: 125%;
        max-height: 30vh;
      }


      .section-date, .section-link, .section-more {
        font-size: @font-size-4;
      }

      .section-title, .section-description, .section-date, .section-links, .header-tags {
        padding: @small-content-element-padding 0;
      }
    }

    .image-container {
      //width is a problem ie KPCB
      height: @small-image-container-height;
      width: 80%;
      padding: (@small-image-container-height / 20) @small-screen-side;

      .section-image {
        width: 100%;
        height: 100%;
        margin-left: auto;
      }
    }
  }
}