<div class="section-container" id="{{section.class}}">
    <div class="content-container">
        <div class="section-date"
             ng-bind="section.date"></div>
        <div class="section-title"
             ng-bind="section.title"></div>
        <div class="section-description"
             ng-bind="section.description"></div>
        <div class ="section-links">
            <div class="section-more"
                 ng-click="goToPortfolioPage(section.id)">
                LEARN MORE
            </div>
            <div class="section-link"
                 ng-if="section.link"
                 ng-bind="section.link"></div>
        </div>
    </div>
    <div class="image-container">
        <div class="section-image"></div>
    </div>
</div>