@image-section-width: 30%;
@content-section-width: 60%;
@content-section-height: 50vh;

.section-container {
  height: 100%;
  display: flex;
  align-items: center;

  .content-container, .image-container {
    display: inline-block;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: @content-section-width;
    height: @content-section-height;

    .section-title {
      font-size: @font-size-1;
      font-weight: @extra-bold-font-weight;
      line-height: 100%;
      letter-spacing: -2px;
    }

    .section-description {
      font-size: @font-size-3;
      font-weight: @light-font-weight;
      line-height: 200%;
    }
    

    .section-date, .section-link, .section-more {
      font-size: @font-size-4;
      font-weight: @bold-font-weight;
    }

    .section-links {
      display: flex;

      .section-more {
        margin-right: 30px;
      }
    }

    .section-title, .section-description, .section-date, .section-links {
      padding: 10px 0;
    }
  }

  .image-container {
    width: @image-section-width;
    height: 100%;
   // float: right;
    .section-image {
      width: 85%;
      height: 100%;
      margin-left: 35%;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &#section-1 {
    background-color: white;
  }

  &#section-2 {
    background-color: blue;
  }

  &#section-3 {
    background-color: red;
  }

  &#section-4 {
    background-color: green;
  }

  &#section-5 {
    background-color: yellow;
  }
}

@media @small-device {
  .section-container {
    width: 100%;
    flex-direction: column-reverse;

    .content-container {
      width: auto;
      padding: 0 @medium-screen-side;
      text-align: center;
    }

    .image-container {
      width: 100%;
      height: 40vh;

      .section-image {
        width: 100%;
        height: 100%;
        margin-left: auto;
      }
    }
  }
}