@portfolio-page-right-side-section-width: 65%;
@portfolio-element-bottom-space: 30px;
@portfolio-element-bottom-space-small: 15px;

.portfolio-page {
  max-width: @large-window-min-width;
  margin: 0 auto;

  .portfolio-header-container {
    padding-bottom: @portfolio-element-bottom-space;
  }

  .portfolio-content-container {
    display: flex;
    flex-direction: column;

    .text-content, .image-content {
      margin-bottom: @portfolio-element-bottom-space;
    }
  }

  .portfolio-page-bottom-links {
    display: flex;
    justify-content: space-around;

    margin: 70px @medium-screen-side;
    font-size: 3em;
  }
}

@media @small-device {
  .portfolio-page {
    .portfolio-header-container {
      padding-bottom: @portfolio-element-bottom-space-small;
    }

    .text-content, .image-content {
      margin-bottom: @portfolio-element-bottom-space-small;
    }

    .portfolio-page-bottom-links {
      margin: 30px @small-screen-side;
      font-size: @font-size-3;
    }
  }
}