@side-nav-height: 138px;
@side-nav-width: 34px;
@button-diameter: 10px;
@wrapper-diameter: 12px;
@side-nav-border-radius: 15px;
@wrapper-z-index: 0;
@button-z-index: 1;

.side-nav-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  padding: 10px 0;

  .nav-button-wrapper {
    //.circle(@wrapper-diameter);
    margin: 5px;
    //background-color: transparent;
    z-index: @wrapper-z-index;

    .nav-button {
   //   .circle(@button-diameter);
   //   background-color: grey;
      margin: auto;
      z-index: @button-z-index;
    }

    &.selected {
    //  background-color: grey;
      text-decoration: underline;
      .nav-button {
        //background-color: white;
      }
    }
  }
}