@section-height: 100vh;
@section-width: 100%;
@container-width: calculate(@section-width - @medium-screen-side);
@nav-width: 60%;

.home-container {
  font-family: din;

  .section-wrapper {
    height: @section-height;
    width: @section-width;

    .section-container {
      padding: 150pt @medium-screen-side;
      width: @container-width;
    }
  }

  .navigation {
    position: fixed;
    left: @medium-screen-side;
    top: 20px;
    width: @nav-width;
  }
}
