@section-height: 100vh;
@section-width: 100%;
@container-width: calculate(@section-width - @medium-screen-side);
@nav-width: 60%;
@nav-height: 80px;
@nav-top-offset: 20px;

.home-container {

  .section-wrapper {
    height: @section-height;
    width: @section-width;

    .section-container {
      padding: 0 @medium-screen-side;
      width: @container-width;
    }
  }

  .navigation {
    //position: fixed;
    //left: @medium-screen-side;
    //top: 20px;
    margin-top: @nav-top-offset;
    //margin-left: @medium-screen-side;
    width: @nav-width;
  }
}

@media @small-device {
  .home-container {
    .section-wrapper {
      .section-content-wrapper, .section-container {
        padding: 0;
        width: 100%;
      }
    }

    .navigation {
      margin-left: @small-screen-side;
    }
  }
}