.message-box {
  background-color: #f38018;
  color: white;
  height: 20px;
  width: 100%;
  text-align: center;
  cursor: pointer;

  .message-text {
    font-weight: @light-font-weight;
  }

  .dismiss-text {
    margin-left: 15px;
  }
}